<div class="container-fluid follows-index h-100">
  <div class="wrap">
    <%# 美容師と一般ユーザでフォロー表示分け %>
    <ul id="tab-menu">
      <li><a href="#tab1" class="active follows-index-tab">フォロー<span class="badge badge-danger">美容師</span></a></li>
      <li><a href="#tab2" class="follows-index-tab">フォロー<span class="badge badge-primary">一般ユーザ</span></a></li>
      <li><a href="#tab3" class="follows-index-tab">フォロワー<span class="badge badge-danger">美容師</span></a></li>
      <li><a href="#tab4" class="follows-index-tab">フォロワー<span class="badge badge-primary">一般ユーザ</span></a></li>
    </ul>

    <div id="tab-contents">
       <%# フォロワー側 %>
      <div id="tab1" class="tab follows-tab">
        <%= render 'list_content', follows: @following_hds %>
      </div>

      <div id="tab2" class="tab follows-tab">
        <%= render 'list_content', follows: @following_users %>
      </div>

      <div id="tab3" class="tab follows-tab">
        <%= render 'list_content', follows: @follower_hds %>
      </div>

      <div id="tab4" class="tab follows-tab">
        <%= render 'list_content', follows: @follower_users %>
      </div>
    </div>
  </div>
</div>