<h1>フォロー一覧</h1>

<div>
  <% @users.each do |user| %>
    <% if user.is_hairdresser == false %>
      フォロー(一般ユーザー)
      <%= user.username %>
    <% elsif user.is_hairdresser == true %>
      フォロー(美容師)
      <%= user.username %>
    <% end %>

  <% end %>
</div>