<div id="tab-contents">
  <div id="tab1" class="tab">
    <% hd_tweets.includes([:user]).each do |tweet| %>
    <div id="tweet_<%= tweet.id %>" class="tweet">
      <%= render "tweets/content", tweet: tweet %>
    </div>
    <% end %>
  </div>

<%# 一般ユーザ側 %>
  <div id="tab2" class="tab">
    <% user_tweets.includes([:user]).each do |tweet| %>
    <div id="tweet_<%= tweet.id %>" class="tweet">
      <%= render "tweets/content", tweet: tweet %>
    </div>
    <% end %>
  </div>
</div>