<% if tweets.exists? %>
  <%# tweets.includes([:user, :tag_taggings, :tags]).each do |tweet| %>
    <%= render tweets %>
  <%# end %>
<% else %>
  <div class="tweet-box py-3">
    <p class="mx-auto text-center">コンテンツがありません</p>
  </div>
<% end %>