<%# 一般ユーザ側 %>
<% if user_tweets.exists? %>
  <% user_tweets.includes([:user, :taggings]).each do |tweet| %>
  <div id="tweet_<%= tweet.id %>" class="tweet-box">
    <%= render "tweets/content", tweet: tweet %>
  </div>
  <% end %>
<% else%>
  <div class="tweet-box py-3">
    <p class="mx-auto text-center">コンテンツがありません</p>
  </div>
<% end %>

