<div class="row new_tweet">
  <%= render "tweets/list", tweets: @tweets %>
</div>

<div class="row">
  <button type="button" class="btn btn-primary offset-8" data-toggle="modal" data-target="#exampleModal">
    つぶやく
  </button>
</div>

<%= render "tweets/form", tweet: @tweet %>
