<div class="container-fluid pb-5 tweet-index">
  <div class="wrap">
    <%# 美容師と一般ユーザでつぶやき表示分け %>
    <ul id="tab-menu">
      <li><a href="#tab1" class="active">美容師</a></li>
      <li><a href="#tab2" class="">一般ユーザ</a></li>
    </ul>

    <div id="tab-contents">
      <div id="tab1" class="tab">
        <% if @hd_tweets.exists? %>
          <%= render 'tweets/hd_contents', hd_tweets: @hd_tweets %>
        <% else %>
          <div class="card-body">
            <p class="mx-auto text-center">コンテンツがありません</p>
          </div>
        <% end %>
      </div>
      <div id="tab2" class="tab">
        <% if @user_tweets.exists? %>
          <%= render 'tweets/user_contents', user_tweets: @user_tweets %>
        <% else %>
          <div class="card-body shadow-sm">
            <p class="mx-auto text-center">コンテンツがありません</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <button type="button" class="tweet-btn btn btn-info offset-8" data-toggle="modal" data-target="#exampleModal">
      <i class="far fa-edit pl-2"></i>
    </button>
  </div>

  <%= render "tweets/form", tweet: @tweet %>
</div>
