<h3>通知一覧</h3>

<%= link_to "全削除", destroy_all_notifications_path, method: :delete %>

<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
    <%= render notifications.includes([:visitor, :visited]) %>
<% else %>
    <p>通知はございません</p>
<% end %>