<div class="container-fluid">
  <div class="row my-2">
    <h2 class="mx-auto">検索結果</h2>
  </div>

<%# 検索結果の表示 %>
  <div class="row mx-auto">
    <% if @hds.present? %>
      <%= render 'result', users: @hds %>
      <div class="mx-auto"><%= paginate @hds %></div>
    <% elsif @users.present? %>
      <%= render 'result', users: @users %>
      <div class="mx-auto"><%= paginate @users %></div>

    <% else %>
      <h3 class="mx-auto mt-5">検索結果がありません</h3>
    <% end %>
  </div>
</div>