<div class="container-fluid">
  <div class="row">
    <h2 class="mx-auto">チャットしているユーザ一覧</h2>
  </div>
  <table class="table table-hover mx-auto w-50">
    <tbody>
      <% if @another_user_rooms.present? %>
        <% @another_user_rooms.includes([:room, :chats]).each do |e| %>
        <tr>
          <td class="text-center">
            <%= link_to e.user.username, chat_path(e.user_id) %>
          </td>
          <td class="text-muted">
            <% if e.room.chats.present? %>
              <%= e.room.chats.order(created_at: :desc).take.try(:content).truncate(15) %>
            <% end %>
          </td>
        </tr>
        <% end %>
      <% else %>
        <tr>
          <td class="text-center">チャットしているユーザーはいません</td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>