<div class="container-fluid about-page">
  <div class="row pt-5">
    <h1 class="col-md-12 text-center">What's へあこみゅ?</h1>
    <p class="col-md-12 text-center mt-3 about-message">
      へあこみゅとは、美容師の皆様と髪を美しくしたい皆様をつなげるコミュニケーションサイトです。<br>
      美容のことでもよし、日常生活についてでもよし、何気ない一言をどんどん投稿してみましょう！<br>
      気になる、声をかけてみたいユーザが見つかったら気軽に「はなしてみる」でコミュニケーションを取ってみてください！<br>
    </p>
  </div>

  <h2 class="text-center mt-4">こんなお悩みありませんか？</h3>

  <div class="row mt-5">
    <div class="col-md-4 offset-1 text-center bg bg-info pt-3">
      <p><strong>新規顧客獲得がうまくいかない...</strong></p>
      <p><strong>リピートがなかなかこないなあ...</strong></p>
      <p><strong>モデルハントが大変！</strong></p>
    </div>
    <div class="col-md-4 offset-2 text-center bg bg-success pt-3">
      <p><strong>毎回美容室を探すのが大変...</strong></p>
      <p><strong>美容室であまり話すのが得意ではない or 話したい！</strong></p>
      <p><strong>自分の思い通りのスタイルが見つからない...</strong></p>
    </div>
  </div>
  <div class="row py-5 about-icon">
    <div class="col-md-2 offset-2 hairdresser-image"></div>
    <div class="hairdresser-scissor"></div>
    <div class="col-md-2 pt-5 text-center">
      <i class="far fa-handshake"></i>
    </div>
    <div class="offset-1 about-user"></div>
  </div>
</div>
