<div class="container-fluid about-page">
  <div class="row pt-5">
    <h1 class="col-md-12 text-center">What's へあこみゅ?</h1>
    <p class="col-md-12 text-center mt-3 about-message">
      へあこみゅとは、美容師の皆様と髪を美しくしたい皆様をつなげるコミュニケーションサイトです。<br>
      美容のことでもよし、日常生活についてでもよし。何気ない一言をどんどん投稿してみましょう！<br>
      気になる、声をかけてみたいユーザが見つかったら気軽に「はなしてみる」でコミュニケーションを取ってみてください！<br>
    </p>
  </div>

  <h2 class="text-center mt-4">こんなお悩みありませんか？</h3>

  <div class="row mt-5">
    <div class="col-md-4 offset-1 text-center bg bg-info pt-3">
      <p><strong>新規顧客獲得がうまくいかない...</strong></p>
      <p><strong>リピートがなかなかこないなあ...</strong></p>
      <p><strong>モデルハントが大変！</strong></p>
    </div>
    <div class="col-md-4 offset-2 text-center bg bg-success pt-3">
      <p><strong>毎回美容室を探すのが大変...</strong></p>
      <p><strong>美容室であまり話すのが得意ではない or 話したい！</strong></p>
      <p><strong>自分の思い通りのスタイルが見つからない...</strong></p>
    </div>
  </div>
  <div class="row py-5 about-icon">
    <div class="col-md-2 offset-2 hairdresser-image"></div>
    <div class="hairdresser-scissor"></div>
    <div class="col-md-2 pt-5 text-center">
      <i class="far fa-handshake"></i>
    </div>
    <div class="offset-1 about-user"></div>
  </div>

  <div class="about-introduction">
    <div class="row about-introduction-title d-flex align-items-center">
      <h2 class="mx-auto">へあこみゅの使い方</h3>
    </div>
      <div class="row d-flex align-items-center step1">
        <div class="col-md-6 text-center">
          <h3>STEP1</h3>
          <p>
            新規登録、ログインが終わったら、<br>
            まずはヘッダーのマイページから<br>
            プロフィールの編集をしましょう！<br>
            ヘッダーの内容は画像をご確認ください。
          </p>
        </div>
        <div class="col-md-6 header-image"></div>
      </div>
      <div class="row d-flex align-items-center step2">
        <div class="col-md-6 text-center">
          <h3>STEP2</h3>
          <p>
            マイページ右上のボタンから編集ページへ<br>
            必須の内容には必ず入力してください。<br>
            自己紹介、ヘアスタイル、<br>
            美容室での過ごし方のスタイルに関しては<br>
            任意ですが検索の際サーチされやすくなるので<br>
            入力することをお勧めしています。
          </p>
        </div>
        <div class="col-md-6" style="padding: 0 0;">
          <% if current_user.is_hairdresser == true %>
            <div class="hdpage-edit-image"></div>
            <div class="hdpage-edit-select-image"></div>
          <% else %>
            <div class="userpage-edit-image"></div>
          <% end %>
          <div class="userpage-edit-select-image"></div>
        </div>
      </div>
      <div class="row d-flex align-items-center step3">
        <div class="col-md-6 text-center">
          <h3>STEP3</h3>
          <p>
            登録が終わったら早速<br>
            つぶやきを投稿してみましょう！<br>
            投稿画面では画像やタグ付けも<br>
            行うことができます。
          </p>
        </div>
        <div class="col-md-6" style="padding: 0 0;">
          <div class="tweet-index-image"></div>
          <div class="tweet-image"></div>
        </div>
      </div>

      <div class="row d-flex align-items-center step4">
        <div class="col-md-6 text-center">
          <h4>他にも...</h4>
          <p>
            その他、検索機能・通知機能・フォロー・いいねなど<br>
            各種機能をご用意しています。<br>
            たくさん活用していただき<br>
            自分と相性バッチリなユーザーを見つけて<br>
            皆様の美容ライフを有意義なものにしてください！<br>
          </p>
        </div>
        <div class="col-md-6" style="padding: 0 0;">
          <div class="search-image"></div>
          <div class="chat-image"></div>
        </div>
      </div>
  </div>
</div>
