<div class="top container-fluid d-flex h-100">
  <div class="row col-md-12 align-items-center h-100">
    <div class="h-50 align-items-center justify-content-center text-center align-middle mx-auto">
        <div class="top-logo"></div>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary mx-auto" %>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary mx-auto" %>
    </div>
  </div>
</div>