/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@font-face {
  font-family: 'Waonjoyo';
  src: font-url('WaonJoyo-R.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Abel', 'M PLUS Rounded 1c';
  letter-spacing: 3px;
  font-weight: 500;
  font-style: normal;
  background-image: image-url("background.jpeg");
  background-size: cover;
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  background-attachment: fixed;
}

body > .container-fluid {
  height: auto;
}

.container-fluid {
  height: auto;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

img {
  object-fit: contain;
}

/* topページ*/
.top-login {
  background: #7290AC;
  height: 800px;
}

.fa-angle-double-down {
  font-size: 30px;
}

.top-about {
  background: #F8ECC4 50%;
}

.top-logo {
  background-image: image-url("logo.png");
  background-size: contain;
  height: 300px;
  width: 300px;
}

.top-btnline {
  border-top: 1px solid #dcdcdc;
}

/*Aboutページ*/
.about-message {
  line-height: 2em;
}

.far.fa-handshake {
  font-size: 100px;
}

.hairdresser-image {
  background-image: image-url("hairdresser.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 230px;
  width: 230px;
}

.hairdresser-scissor {
  background-image: image-url("scissor.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 130px;
  width: 130px;
}

.about-user {
  background-image: image-url("about-user.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 230px;
  width: 230px;
}

/* ヘッダー */
.nav-hd-header {
  background-color: #C6767B;
  height: 6em;
  font-family: 'Abel', 'Waonjoyo';
}

.nav-user-header {
  background-color: #7290AC;
}

.navbar-brand {
  background-image: image-url("logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Abel', 'Waonjoyo';
  height: 100px;
  width: 100px;
}

.search_form {
  font-size: 0.9em;
}

/* フッター */
.footer-hd {
  background-color: #C6767B;
  height: 3em;
  position: relative;
  bottom: 0;
}

.footer-user {
  background-color: #7290AC;
  height: 3em;
  position: relative;
  bottom: 0;
}

/* タブ機能 */
.wrap {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
  margin: 0 auto 0 -40px;
}

#tab-menu li {
  list-style-type: none;
  width: 25%;
}

#tab-menu li a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background: #FFF;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  border: 1px ridge #797979;
}

#tab-menu .active {
  background: #CC8573;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  background: #fff;
  border: 1px solid #000;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}

/* つぶやき関連 */
#tab-contents .tab.tweet-tab {
  border-radius: 20px 20px 20px 20px;
  background-color: transparent;
  border: none;
}

.tweet-box {
  background-color: #C8C0BC;
  border-radius: 20px 20px 20px 20px;
  border: 0.5px solid #797979;
}

.tweet-font {
  font-size: 2em;
}

.tweet-box:nth-child(odd) {
  background-color: #FFF4EE;
}

.tweet-box:last-child {
  border-bottom: none;
}

.tweet-btn {
  position: fixed;
  bottom: 8%;
  right: 5%;
  width: 150px;
  height: 150px;
  font-size: 4em;
  border-radius: 50% 50%;
}

.tweet-text {
  margin-bottom: 0.5rem;
  padding-bottom: 1.25rem;
}

.tweet-index {
  padding-top: 50px;
}

/*マイページ関連*/

.userpage-name {
  font-size: 2.5em;
}

.userpage-follow-link {
  font-size: 2em;
}

.userpage-follow-link p{
  font-size: 0.3em;
}

.userpage-table-color {
  border-color: #000;
}

.row.field {
  margin-bottom: 1em;
}

.userpage-edit-btn {
  position: fixed;
  bottom: 8%;
  right: 5%;
  width: 100px;
  height: 100px;
  font-size: 2em;
  line-height: 2.5em;
  border-radius: 50% 50%;
}

.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}

/*フォロー一覧*/
.follows-tab {
  border-radius: 10px 10px 10px 10px;
}

.follows-index {
  padding-top: 50px;
}

.follows-index-tab {
  font-size: 0.9em;
}

.follows-index-user {
  border-bottom: 1px solid #000;
  font-size: 1.5em;
}

.follows-index-user:last-child {
  border-bottom: none;
}

.follows-index-no-user {
  font-size: 1em;
}


/* 吹き出し本体 */
.balloon1{
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #0888ff;
}
/* 画像 - 絶対配置で左上に配置 */
.balloon1 .icon{
  position: absolute;
  left: -110px;
}
/* 三角アイコン */
.balloon1::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #0888ff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

/* 吹き出し本体 */
.balloon2{
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #0888ff;
}
/* 画像 - 絶対配置で右上に配置 */
.balloon2 .icon{
  position: absolute;
  right: -110px;
}
/* 三角アイコン */
.balloon2::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -15px;
  top: 20px;
  border-left: 15px solid #0888ff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.search-username {
  font-size: 2em;
}

.search-hairdresser {
  font-size: 15px;
}