<% unless controller.controller_name == 'homes' && controller.action_name == 'top' %>
  <div class="fixed-bottom d-flex align-items-center justify-content-center footer">
    <small>©︎hair_community</small>
  </div>
<% end %>