<% unless controller.controller_name == 'homes' && controller.action_name == 'top' %>
  <% if current_user.is_hairdresser == true %>
    <div class="fixed-bottom d-flex align-items-center justify-content-center pt-2 footer-hd">
  <% else %>
    <div class="fixed-bottom d-flex align-items-center justify-content-center footer-user">
  <% end %>
      <small>©︎hair_community</small>
    </div>
<% end %>